/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #fromMap, #toMap {
    margin: 0 2rem;
    top: 100px;
    height: 400px;
    width: 400px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  h3 {
    position: absolute;
    text-align: center;
    z-index: 1;
  }